---
// Global Styles
import '@Styles/articles_page.css';
// Query
import query from '@Queries/page_about';
// Layouts
import Layout from '@Layouts/Layout.astro';
// Types
import type { IAboutPage } from '@Types';

const lang = Astro.currentLocale as 'ru' | 'fi';

import { single, toMarkdown } from '@Lib/prismiccms';
const response = await single(query, 'page_about', lang);

const data = response.data as IAboutPage;
const md = await toMarkdown(data.text);
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{data.seo_title}</title>
  <meta name="description" content={data.seo_description} />
</head>

<Layout>
  <main class="grid">
    <div class="page-header column-sized">
      <h1 class="header__heading">{data.title}</h1>
      {data.description ? <p class="page-header__description font-20">{data.description}</p> : null}
    </div>
    <div class="page__content markdown">
      <Fragment set:html={md} />
    </div>
  </main>
</Layout>
@Queries/page_about
