---
// Global Styles
import '@Styles/articles_page.css';
// Query
import query from '@Queries/page_about';
// Layouts
import Layout from '@Layouts/Layout.astro';
import Head from '@Layouts/Head.astro';
// Types
import type { IAboutPage } from '@Types';

const lang = Astro.currentLocale as 'ru' | 'fi';

import { single, toMarkdown } from '@Lib/prismiccms';
const response = await single(query, 'page_about', lang);

const data = response.data as IAboutPage;
const md = await toMarkdown(data.text);
const subTitle = await toMarkdown(data.sub_title);
---

<Head title={data.seo_title} description={data.seo_description} href="/about/" />

<Layout>
  <main class="grid">
    <div class="page-header column-sized">
      <h1 class="header__heading">{data.title}</h1>
      {
        data.sub_title ? (
          <div class="page-header__description markdown font-20">
            <Fragment set:html={subTitle} />
          </div>
        ) : null
      }
    </div>
    <div class="page__content markdown">
      <Fragment set:html={md} />
    </div>
  </main>
</Layout>
