---
// Global Styles
import '@Styles/articles_page.css';
// Query
import pageQuery, { repeatableQuery } from '@Queries/page_feedbacks';
// Layouts
import Layout from '@Layouts/Layout.astro';
import Head from '@Layouts/Head.astro';
import FeedbackArticle from '@Components/feedback-articles/FeedbackArticle.astro';
// Libs
import { single, repeatable, toMarkdown } from '@Lib/prismiccms';
// Types
import type { IFeedback, IPage } from '@Types';

const lang = Astro.currentLocale as 'ru' | 'fi';

const response = await single(pageQuery, 'page_feedbacks', lang);
const articles = await repeatable(repeatableQuery, 'feedback', lang);

const data = response.data as IPage;
const md = await toMarkdown(data.sub_title);
---

<Head title={data.seo_title} description={data.seo_description} href="/feedbacks" />

<Layout>
  <main class="grid feedbacks separator">
    <div class="page-header column-sized">
      <h1 class="header__heading">{data.title}</h1>
      {
        data.sub_title ? (
          <div class="page-header__description markdown font-20">
            <Fragment set:html={md} />
          </div>
        ) : null
      }
    </div>
    {
      articles.map((i, index) => {
        const data = i.data as IFeedback;
        return (
          <div class="feedback-wrapper grid">
            <FeedbackArticle data={data} index={index} />
          </div>
        );
      })
    }
  </main>
</Layout>

<style is:global>
  .feedback-wrapper {
    grid-column: 2 / -2;
  }
</style>
