---
// Global Styles
import '@Styles/articles_page.css';
// Query
import query from '@Queries/page_gallery';
// Layouts
import Layout from '@Layouts/Layout.astro';
import GalleryFolder from '@Components/ui-elements/GalleryFolder.astro';
// Types
import type { IGalleryPage } from '@Types';

const lang = Astro.currentLocale as 'ru' | 'fi';

import { single, toMarkdown } from '@Lib/prismiccms';
const response = await single(query, 'page_gallery', lang);

const data = response.data as IGalleryPage;
const md = await toMarkdown(data.sub_title);
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{data.seo_title}</title>
  <meta name="description" content={data.seo_description} />
  <link rel="canonical" href=`https://sadko.fi/${lang}/gallery` hreflang={lang} />
  <link rel="alternate" href="https://sadko.fi/ru/gallery" hreflang="ru" />
  <link rel="alternate" href="https://sadko.fi/fi/gallery" hreflang="fi" />
</head>

<Layout>
  <main class="grid separator">
    <div class="page-header column-sized">
      <h1 class="header__heading">{data.title}</h1>
      {
        data.sub_title ? (
          <div class="page-header__description markdown font-20">
            <Fragment set:html={md} />
          </div>
        ) : null
      }
    </div>
    <ul class="gallery">
      {data.folder.map(folder => <GalleryFolder href={folder.href} name={folder.name} />)}
    </ul>
  </main>
</Layout>

<style>
  .gallery {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--gap-24);
  }
  @media screen and (max-width: 767px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: var(--gap-18);
    }
  }
</style>
