---
// Global Styles
import '@Styles/articles_page.css';
// Query
import query from '@Queries/page_gallery';
// Layouts
import Layout from '@Layouts/Layout.astro';
import GalleryFolder from '@Components/ui-elements/GalleryFolder.astro';
// Types
import type { IGalleryPage } from '@Types';

const lang = Astro.currentLocale as 'ru' | 'fi';

import { single } from '@Lib/prismiccms';
const response = await single(query, 'page_gallery', lang);
// LOCAL DATA!!!
// Remove CACHE folder to get updated data!!!
// import { SingleLocaleData } from '@Lib/localdata';
// const response = await SingleLocaleData(query, 'gallery', lang);

const data = response.data as IGalleryPage;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{data.seo_title}</title>
  <meta name="description" content={data.seo_description} />
  <link rel="canonical" href=`https://sadko.fi/${lang}/gallery` hreflang={lang} />
</head>

<Layout>
  <main class="grid separator">
    <div class="page-header column-sized">
      <h1 class="header__heading">{data.title}</h1>
      {data.description ? <p class="page-header__description font-20">{data.description}</p> : null}
    </div>
    <ul class="gallery">
      {data.folder.map(folder => <GalleryFolder href={folder.href} name={folder.name} />)}
    </ul>
  </main>
</Layout>

<style>
  .gallery {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--gap-24);
  }
  @media screen and (max-width: 767px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: var(--gap-18);
    }
  }
</style>
