---
// Query
import query from '@Queries/index.ts';
// Types
import type { IIndex } from '@Types';
// Layouts
import Layout from '@Layouts/Layout.astro';
import SectionHero from '@Components/page-home/section-hero/SectionHero.astro';
import SectionActivities from '@Components/page-home/section-activities/SectionActivities.astro';
import SectionWelcome from '@Components/page-home/section-welcome/SectionWelcome.astro';
import SectionOffer from '@Components/page-home/section-offer/SectionOffer.astro';
import SectionGallery from '@Components/page-home/section-gallery/SectionGallery.astro';
import SectionTeachers from '@Components/page-home/section-teachers/SectionTeachers.astro';
import SectionFaq from '@Components/page-home/section-faq/SectionFaq.astro';
import SectionFeedbacks from '@Components/page-home/section-feedbacks/SectionFeedbacks.astro';

const lang = Astro.currentLocale as 'ru' | 'fi';

import { single } from '@Lib/prismiccms';
const response = await single(query, 'home', lang);

// LOCAL DATA!!!
// Remove CACHE folder to get updated data!!!
// import { SingleLocaleData } from '@Lib/localdata';
// const response = await SingleLocaleData(query, 'home', lang);

const data = response.data as IIndex;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{data.seo_title}</title>
  <meta name="description" content={data.seo_description} />
  <link rel="canonical" href={`https://sadko.fi/${lang}`} hreflang={lang} />

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="sadko" />
  <meta property="og:url" content={`https://sadko.fi/${lang}`} />
  <meta property="og:image" content="/favicon.svg" />
  <meta property="og:title" content={data.seo_title} />
  <meta property="og:description" content={data.seo_description} />
  <meta property="og:locale:alternate" content="ru" />
  <meta property="og:locale:alternate" content="fi" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content={`https://sadko.fi/${lang}`} />
  <meta name="twitter:title" content={data.seo_title} />
  <meta name="twitter:description" content={data.seo_description} />
  <meta name="twitter:image" content="/favicon.svg" />
</head>

<Layout>
  <main>
    {data.body[0].slice_type === 'hero' ? <SectionHero data={data.body[0]} /> : null}
    {data.body[1].slice_type === 'activities' ? <SectionActivities data={data.body[1]} /> : null}
    {data.body[2].slice_type === 'welcome' ? <SectionWelcome data={data.body[2]} /> : null}
    {data.body[3].slice_type === 'offer' ? <SectionOffer data={data.body[3]} /> : null}
    {data.body[4].slice_type === 'gallery' ? <SectionGallery data={data.body[4]} /> : null}
    {data.body[5].slice_type === 'teachers' ? <SectionTeachers data={data.body[5]} /> : null}
    {data.body[6].slice_type === 'faq' ? <SectionFaq data={data.body[6]} /> : null}
    {data.body[7].slice_type === 'feedbacks' ? <SectionFeedbacks data={data.body[7]} /> : null}
  </main>
</Layout>
