---
// Content
import query from "@Queries/index.ts";
// Types
import type { IIndex } from "@Types";
// Layouts
import Layout from "@Layouts/Layout.astro";
import SectionHero from "@Components/home-page/section-hero/SectionHero.astro";
import SectionActivities from "@Components/home-page/section-activities/SectionActivities.astro";
import SectionWelcome from "@Components/home-page/section-welcome/SectionWelcome.astro";
import SectionOffer from "@Components/home-page/section-offer/SectionOffer.astro";
import SectionGallery from "@Components/home-page/section-gallery/SectionGallery.astro";
import SectionTeachers from "@Components/home-page/section-teachers/SectionTeachers.astro";
import SectionFaq from "@Components/home-page/section-faq/SectionFaq.astro";
import SectionFeedbacks from "@Components/home-page/section-feedbacks/SectionFeedbacks.astro";

const lang = Astro.currentLocale as "ru" | "fi";

import { single } from "@Lib/prismiccms";
const response = (await single(query, "home", lang)) as IIndex;
// LOCAL DATA!!!
// Remove CACHE folder to get updated data!!!
// import LocaleData from "@Lib/localdata";
// const response = await LocaleData(query, "home", lang);
---

<Layout>
  <main>
    {
      response.body[0].slice_type === "hero" && (
        <SectionHero data={response.body[0]} />
      )
    }
    {
      response.body[1].slice_type === "activities" && (
        <SectionActivities data={response.body[1]} />
      )
    }
    {
      response.body[2].slice_type === "welcome" && (
        <SectionWelcome data={response.body[2]} />
      )
    }
    {
      response.body[3].slice_type === "offer" && (
        <SectionOffer data={response.body[3]} />
      )
    }
    {
      response.body[4].slice_type === "gallery" && (
        <SectionGallery data={response.body[4]} />
      )
    }
    {
      response.body[5].slice_type === "teachers" && (
        <SectionTeachers data={response.body[5]} />
      )
    }
    {
      response.body[6].slice_type === "faq" && (
        <SectionFaq data={response.body[6]} />
      )
    }
    {
      response.body[7].slice_type === "feedbacks" && (
        <SectionFeedbacks data={response.body[7]} />
      )
    }
  </main>
</Layout>
