---
// Global Styles
import '@Styles/articles_page.css';
// Query
import query from '@Queries/page_membership';
// Layouts
import Layout from '@Layouts/Layout.astro';
// Types
import type { IMembershipPage } from '@Types';

const lang = Astro.currentLocale as 'ru' | 'fi';

import { single, toMarkdown } from '@Lib/prismiccms';
const response = await single(query, 'page_membership', lang);

const data = response.data as IMembershipPage;
const md = await toMarkdown(data.text);
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{data.seo_title}</title>
  <meta name="description" content={data.seo_description} />
  <link rel="canonical" href=`https://sadko.fi/${lang}/membership` hreflang={lang} />
</head>

<Layout>
  <main class="grid about">
    <div class="page-header column-sized">
      <h1 class="header__heading">{data.title}</h1>
      {data.description ? <p class="page-header__description font-20">{data.description}</p> : null}
    </div>
    <div class="page__content markdown">
      <Fragment set:html={md} />
    </div>
    <a href=`${data.secondary_href.url}` class="btn btn-secondary arrow-icon btn-membership">
      {data.secondary_button}
      <span class="btn__icon" aria-hidden="true">
        <svg>
          <use xlink:href="/svg/ui_icons.svg#arrow_outward" data-xlink="arrow_outward"></use>
        </svg>
      </span>
    </a>
  </main>
</Layout>

<style>
  .btn-membership {
    grid-column: 2 / -2;
    justify-self: center;
    margin-top: var(--gap-32);
  }
</style>
