---
// Components
import Day from './Day.astro';
// Locale
import { locale_schedule } from '@Locales/schedule';

import type { ISchedule } from '@Types';
interface Props {
  data: ISchedule;
  id: string;
}

const lang = Astro.currentLocale as 'ru' | 'fi';

const { id, data } = Astro.props;
---

<article class="schedule__item" data-id={id}>
  <header class="schedule__heading">
    <h2>{data.name}</h2>
    <a href={data.href.url} target="_blank">{data.address}</a>
  </header>
  {data.monday.length > 0 ? <Day day={data.monday} name={locale_schedule[lang].monday} /> : null}
  {data.tuesday.length > 0 ? <Day day={data.tuesday} name={locale_schedule[lang].tuesday} /> : null}
  {data.wednesday.length > 0 ? <Day day={data.wednesday} name={locale_schedule[lang].wednesday} /> : null}
  {data.thursday.length > 0 ? <Day day={data.thursday} name={locale_schedule[lang].thursday} /> : null}
  {data.friday.length > 0 ? <Day day={data.friday} name={locale_schedule[lang].friday} /> : null}
  {data.saturday.length > 0 ? <Day day={data.saturday} name={locale_schedule[lang].saturday} /> : null}
  {data.sunday.length > 0 ? <Day day={data.sunday} name={locale_schedule[lang].sunday} /> : null}
</article>

<style>
  .schedule__item {
    display: flex;
    flex-direction: column;
    gap: var(--gap-32);
  }

  .schedule__heading {
    display: grid;
    gap: var(--gap-12);
    padding-bottom: var(--gap-16);
  }

  .schedule__heading h2 {
    color: var(--black);
    font-size: clamp(var(--font-28), 3vw, var(--font-36));
    text-align: center;
    line-height: 1.2;
  }

  .schedule__heading a {
    justify-self: center;
    color: var(--violet);
    /* font-size: clamp(var(--font-16), 2vw, var(--font-18)); */

    text-decoration: underline var(--violet);
    text-underline-offset: 4px;
    transition: all 0.3s ease-in-out;
  }
  .schedule__heading a:hover {
    text-decoration: underline transparent;
    text-underline-offset: 2px;
  }
</style>
