---
import type { HrefType } from '@Types';
interface Props {
  href: HrefType;
  name: string;
}

const url = Astro.url.pathname;

const { href, name } = Astro.props;
---

<li>
  <a href=`${url}/${href.url}` class="rules" title={name} aria-label={name}>
    <svg class="rules__front" aria-hidden="true">
      <use xlink:href="/svg/shapes.svg#rules-front"></use>
    </svg>
    <svg class="rules__back" aria-hidden="true">
      <use xlink:href="/svg/shapes.svg#blank-back"></use>
    </svg>
    <svg class="rules__stamp" aria-hidden="true">
      <use xlink:href="/svg/shapes.svg#rules-stamp"></use>
    </svg>
    <p class="rules__name">{name}</p>
  </a>
</li>

<style>
  .rules {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: var(--gap-18);
    justify-content: center;
    align-items: flex-end;
    padding: var(--gap-24) var(--gap-12) var(--gap-12);
    position: relative;
    border-radius: var(--border-corner-12);
    transition: all 0.3s ease-in-out;
  }

  .rules:hover {
    background-color: var(--opacity-8);
  }

  svg {
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
    user-select: none;
    transition: all 0.3s ease-in-out;
  }

  .rules__front,
  .rules__back {
    position: relative;
    justify-self: center;
  }

  .rules:hover .rules__front {
    rotate: z -10deg;
    scale: 1.1;
  }

  .rules__back {
    max-width: 110px;
    left: 0.5rem;
    bottom: 0.25rem;
    z-index: -1;
  }
  .rules:hover .rules__back {
    rotate: z 10deg;
    scale: 1.1;
  }

  .rules__stamp {
    height: 4rem;
    position: relative;
    justify-self: center;
    right: -1.8rem;
    bottom: -0.5rem;
  }
  .rules:hover .rules__stamp {
    rotate: z 20deg;
    scale: 1.25;
  }

  .rules__name {
    align-self: flex-start;
    font-weight: bold;
    text-align: center;
  }

  @media screen and (max-width: 559px) {
    svg {
      scale: 1.1;
    }
    .rules__front {
      rotate: z -10deg;
    }
    .rules__back {
      rotate: z 10deg;
    }
    .rules__stamp {
      rotate: z 10deg;
      scale: 1.1;
    }
  }
</style>
