---
// Global Styles
import '@Styles/articles_page.css';
// Query
import pageQuery from '@Queries/page_courses';
import articlesQuery from '@Queries/page_course';
// Types
import type { IActivity, IPage } from '@Types';
// Layouts
import Layout from '@Layouts/Layout.astro';
import Article from '@Components/pages-with-articles/Article.astro';
import PageEmpty from '@Components/page-empty/PageEmpty.astro';
// Libs
import { single, repeatable } from '@Lib/prismiccms';

const lang = Astro.currentLocale as 'ru' | 'fi';

const response = await single(pageQuery, 'page_courses', lang);
const articles = await repeatable(articlesQuery, 'course', lang);

const data = response.data as IPage;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{data.seo_title}</title>
  <meta name="description" content={data.seo_description} />
</head>

<Layout>
  <main class="grid separator">
    <div class="page-header">
      <h1 class="header__heading">{data.title}</h1>
      {data.description && <p class="page-header__description">{data.description}</p>}
    </div>
    {
      articles.length >= 1 ? (
        articles.map(i => {
          const data = i.data as IActivity;
          return <Article article={data} date={i.last_publication_date} />;
        })
      ) : (
        <PageEmpty />
      )
    }
  </main>
</Layout>
