---
// Global Styles
import '@Styles/articles_page.css';
// Query
import pageQuery from '@Queries/page_concerts';
import articlesQuery from '@Queries/page_concert';
// Types
import type { IActivity, IPage } from '@Types';
// Layouts
import Layout from '@Layouts/Layout.astro';
import Article from '@Components/pages-with-articles/Article.astro';
// Libs
import { single, repeatable } from '@Lib/prismiccms';

const lang = Astro.currentLocale as 'ru' | 'fi';

const response = await single(pageQuery, 'page_concerts', lang);
const articles = await repeatable(articlesQuery, 'concert', lang);

const data = response.data as IPage;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{data.seo_title}</title>
  <meta name="description" content={data.seo_description} />
</head>

<Layout>
  <main class="grid separator">
    <div class="page__header">
      <h1>{data.title}</h1>
      {data.description && <p>{data.description}</p>}
    </div>
    {
      articles.map(i => {
        const data = i.data as IActivity;
        return <Article article={data} date={i.last_publication_date} />;
      })
    }
  </main>
</Layout>
