---
// Global Styles
import '@Styles/articles_page.css';
// Layouts
import Layout from '@Layouts/Layout.astro';
import BackwardButton from '@Components/ui-elements/BackwardButton.astro';
import { locale_blanks } from '@Locales/blanks';

const lang = Astro.params.locale as 'ru' | 'fi';

const camps = ['Лагерь в Болгарии', 'Лагерь в Испании'];
---

<script>
  const select = document.querySelector<HTMLSelectElement>('.blank-select__select');
  // const blank = document.querySelectorAll<HTMLDivElement>('.blank__item');

  select?.addEventListener('change', (ev: Event) => {
    const value = (ev.target as HTMLSelectElement).value;
    console.log(value);

    // blank.forEach(i => {
    //   if (value === 'all') {
    //     return (i.style.display = 'flex');
    //   }
    //   if (i.dataset.id === value) {
    //     return (i.style.display = 'flex');
    //   }

    //   i.style.display = 'none';
    // });
  });
</script>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{locale_blanks[lang].seo_camp_title}</title>
  <meta name="robots" content="noindex nofollow" />
</head>

<Layout>
  <main class="grid separator blank">
    <BackwardButton isOneColumn />
    <div class="page-header column-sized">
      <h1 class="header__heading">{locale_blanks[lang].seo_camp_title}</h1>
      <div class="page-header__description markdown font-20">{locale_blanks[lang].camp_sub_title}</div>
      <p class="header__important font-20">{locale_blanks[lang].important}</p>
    </div>
    <form class="page__form" action="https://formsubmit.co/fspirits@gmail.com" method="post">
      <!--  "Thank You" page -->
      <input type="hidden" name="_next" value=`https://sadkofi.netlify.app/${lang}/blanks/success` />
      <!-- multiple email addresses -->
      <input type="hidden" name="_cc" value="fspirits@gmail.com,zero570@gmail.com" />
      <!-- honeypot -->
      <input type="hidden" name="_honey" />
      <!-- reCAPTCHA -->
      <input type="hidden" name="_captcha" value="false" />

      <div class="blank-select">
        <label class="required" for="camp">Название кружка</label>
        <svg class="blank-select__icon" aria-hidden="true">
          <use xlink:href="/svg/ui_icons.svg#arrow_drop_down"></use>
        </svg>
        <select class="blank-select__select" id="camp" name="camp" required>
          <option value="">{locale_blanks[lang].camp_select_all}</option>
          {
            camps.map((i, index) => {
              return <option value={index}>{i}</option>;
            })
          }
        </select>
      </div>
      <fieldset class="form__child">
        <legend>{locale_blanks[lang].legend_child}</legend>
        <div class="form__input">
          <label class="required" for="child-name">Имя и фамилия (латиницей)</label>
          <input
            type="text"
            id="child-name"
            name="Имя ребёнка"
            required
            pattern="[a-zA-ZäåöÄÅÖ \\-]{2,}"
            title="Имя и фамилия (только на латинице, без спец. символов и цифр)"
          />
        </div>
        <div class="form__input">
          <label class="required" for="child-date">Дата рождения</label>
          <input type="date" id="child-date" name="Дата рождения" required />
        </div>
        <div class="form__input">
          <label class="required" for="child-info">Дополнительная информация о ребёнке</label>
          <textarea
            id="child-info"
            name="Дополнительная информация о ребёнке"
            placeholder="Если ребенок имеет инвалидность или какие-то пробелы со здоровьем. Либо поставте знак прочерк, минус (-)"
            rows="5"
            minlength="1"
            title="Если не требуется доп. информация о ребёнке, поставте знак прочерк, минус (-)"
            required></textarea>
        </div>
      </fieldset>
      <fieldset class="form__parent">
        <legend>{locale_blanks[lang].legend_parent}</legend>
        <div class="form__input">
          <label class="required" for="parent-name">Родитель / Опекун / Ответственный плательщик (латиницей)</label>
          <input
            type="text"
            id="parent-name"
            name="Имя родителя / Опекуна"
            required
            pattern="[a-zA-ZäåöÄÅÖ \\-]{2,}"
            title="Имя и фамилия (только на латинице, без спец. символов и цифр)"
          />
        </div>
        <div class="form__input">
          <label class="required" for="parent-hetu">Ваш Henkilötunnus</label>
          <input
            type="text"
            id="parent-hetu"
            name="Henkilätunnus"
            required
            pattern="[0-9]{6}[\\-A]{1}[0-9A-Z]{4}"
            title="Например: 123456-457F"
          />
        </div>
        <div class="form__input">
          <label class="required" for="parent-address">Ваш адрес</label>
          <input type="text" id="parent-address" name="Адрес" required />
        </div>
        <div class="form__input">
          <label class="required" for="parent-index">Почтовый индекc</label>
          <input
            type="text"
            id="parent-index"
            name="Индекс"
            required
            pattern="[0-9]{5}"
            title="Индек должен содержать 5 цифр"
          />
        </div>
        <div class="form__input">
          <label class="required" for="parent-city">Город</label>
          <input type="text" id="parent-city" name="Город" required />
        </div>
        <div class="form__input">
          <label class="required" for="parent-phone">Номер телефон</label>
          <input
            type="tel"
            id="parent-phone"
            name="Номер телефона"
            required
            pattern="[0-9+#]{10,}"
            title="Номер может содержать не менее 10 цифр, + и #"
          />
        </div>
        <div class="form__input">
          <label class="required" for="parent-email">Электронная почта</label>
          <input
            type="email"
            id="parent-email"
            name="Эл. почта"
            required
            pattern="[a-zA-Z0-9.+_\\-]+@[a-z]{2,}\.[a-z]{2,}"
            title="Например: example@example.com"
          />
        </div>
        <div class="form__input">
          <label for="parent-info">Дополнительная информация</label>
          <textarea id="parent-info" name="Доп. информация" rows="5"></textarea>
        </div>
      </fieldset>
      <div class="form__policy">
        <input type="checkbox" id="policy" required />
        <p>
          Я ознакомлен(а) и согласен(а) с правилами поведения в лагере.
          <a class="href" href=`/${lang}/rules-and-payments/rules-of-camp`>Правила лагеря</a>
        </p>
      </div>
      <button type="submit" class="btn btn-primary arrow-icon btn-submit">
        Отправить
        <span class="btn__icon" aria-hidden="true">
          <svg>
            <use xlink:href="/svg/ui_icons.svg#arrow_outward" data-xlink="arrow_outward"></use>
          </svg>
        </span>
      </button>
    </form>
  </main>
</Layout>

<style>
  .form__policy {
    display: flex;
    align-items: flex-start;
    gap: var(--gap-16);
  }
  .form__policy input[type='checkbox'] {
    appearance: none;
    width: var(--size-36);
    aspect-ratio: 1;
    /* height: var(--size-48); */
    display: grid;
    place-content: center;
    border: 1.5px solid var(--violet-light);
    border-radius: var(--border-corner-4);
    position: relative;
  }

  .form__policy input[type='checkbox']::after {
    content: '';
    position: absolute;
    inset: 0.275rem;
    transform: scale(0);
    background-color: var(--violet);
    border-radius: var(--border-corner-4);
    transition: all 0.3s ease-in-out;
  }
  .form__policy input:checked::after {
    transform: scale(1);
  }

  fieldset legend {
    padding-inline: var(--gap-12);
    color: var(--black);
    font-size: var(--font-20);
    font-weight: bold;
  }
  fieldset {
    display: grid;
    row-gap: var(--gap-24);
    border-radius: var(--border-corner-8);
    border: 1px solid var(--grey-100);
    padding-inline: var(--gap-16);
    padding-block: var(--gap-16) var(--gap-36);
  }

  textarea {
    min-width: 100%;
    resize: none;
  }
  .form__input {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
  }
  .form__input :where(input, textarea) {
    padding: var(--gap-16);
    border-radius: var(--border-corner-8);
    border: 1.5px solid var(--violet-light);
  }
  /* .form__input :where(input, textarea):valid, */
  .form__input :where(input, textarea):focus:valid {
    border-color: #3ec54e;
    border-color: var(--green);
  }
  .form__input :where(input, textarea):focus:invalid {
    border-color: var(--red);
  }
  /* .form__input input:required {
    border-color: rgb(255, 166, 0);
  } */
  .blank {
    /* grid-column: 2 / -2; */
    /* width: min(1200px, 100%); */
    /* justify-self: center; */
    /* display: flex;
    flex-direction: column;
    gap: var(--gap-96); */
  }
  .page__form {
    grid-column: 2 / -2;
    width: 100%;
    /* max-width: calc(640px + (2 * var(--gap-32))); */
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: var(--gap-32);
    padding: var(--gap-32);
    background-color: var(--white);
    border-radius: var(--border-corner-32);
    box-shadow:
      0 25px 20px var(--opacity-3),
      0 15px 10px var(--opacity-3);
  }
  .blank-select {
    display: grid;
    position: relative;
    row-gap: var(--gap-8);
  }

  label {
    max-width: max-content;
    position: relative;
    font-size: var(--font-14);
    color: var(--grey-300);
  }
  label.required::after {
    content: '*';
    position: absolute;
    inset-block: 0;
    right: -0.5rem;
    color: var(--red);
  }

  .blank-select__icon {
    width: 1.5rem;
    aspect-ratio: 1;
    position: absolute;
    inset-block: 2.4rem;
    right: 1rem;
    fill: var(--violet);
    pointer-events: none;
    user-select: none;
  }

  .blank-select__select {
    appearance: none;
    min-width: max-content;
    padding-block: var(--gap-16);
    padding-inline: var(--gap-16) var(--gap-40);
    border: 1.5px solid var(--violet-light);
    border-radius: var(--border-corner-8);
    outline-color: var(--violet);
    font-family: 'Comfortaa', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: clamp(var(--font-16), 2vw, var(--font-18));
    cursor: pointer;
  }
  .shedule-select:focus-visible {
    border-color: var(--violet);
  }

  .btn-submit {
    margin-inline: auto;
    margin-block: var(--gap-16) var(--gap-32);
  }

  @media (max-width: 559px) {
    .page__form {
      padding: var(--gap-32) var(--gap-16);
      border-radius: var(--border-corner-24);
    }
    .form__policy input[type='checkbox'] {
      width: var(--size-48);
    }
  }
</style>
