---
// Global Styles
import '@Styles/articles_page.css';
import '@Styles/blanks.css';
// Query
import { clubsBlankQuery } from '@Queries/page_blanks';
// Layouts
import Layout from '@Layouts/Layout.astro';
import BackwardButton from '@Components/ui-elements/BackwardButton.astro';
import SubmitButton from '@Components/page-blank/SubmitButton.astro';
import AcceptRules from '@Components/page-blank/AcceptRules.astro';
import ParentFieldset from '@Components/page-blank/ParentFieldset.astro';
import ChildFieldset from '@Components/page-blank/ChildFieldset.astro';
import SelectActivity from '@Components/page-blank/SelectActivity.astro';
// Locale
import { locale_club_blank } from '@Locales/blanks';
// Libs
import { single, toMarkdown } from '@Lib/prismiccms';
// Type
import type { IBlankPage } from '@Types';

const lang = Astro.params.locale as 'ru' | 'fi';

const response = await single(clubsBlankQuery, 'page_blank-club', lang, ['club.title', 'club.date', 'club.time']);

const data = response.data as IBlankPage;
const md = await toMarkdown(data.sub_title);

const { rule_href, ...select } = locale_club_blank[lang];
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{data.seo_title}</title>
  <meta name="description" content={data.seo_description} />
  <meta name="googlebot" content="noindex nofollow" />
  <meta name="robots" content="noindex nofollow" />
</head>

<Layout>
  <main class="grid separator blank">
    <BackwardButton isOneColumn />
    <div class="page-header column-sized">
      <h1 class="header__heading">{data.title}</h1>
      <div class="page-header__description markdown font-20">
        <Fragment set:html={md} />
      </div>
      <p class="header__important">{data.important}</p>
    </div>
    <form class="page__form" action="https://formsubmit.co/sadko.klubi.hel@gmail.com" method="post">
      <!--  "Thank You" page -->
      <input type="hidden" name="_next" value=`https://sadkofi.netlify.app/${lang}/blanks/success/` />
      <!-- multiple email addresses -->
      <input type="hidden" name="_cc" value="sadko@sadko.fi" />
      <!-- honeypot -->
      <input type="hidden" name="_honey" style="display:none !important" tabindex="-1" />
      <!-- reCAPTCHA -->
      <input type="hidden" name="_captcha" value="false" />
      <!-- Email Template -->
      <input type="hidden" name="_template" value="table" />

      <SelectActivity data={select} options={data.select} />
      <ChildFieldset />
      <ParentFieldset />
      <AcceptRules hrefRule="club" hrefName={rule_href} />
      <SubmitButton />

      <svg>
        <use xlink:href="/svg/ui_shapes.svg#page_stroke_02"></use>
      </svg>
      <svg>
        <use xlink:href="/svg/ui_shapes.svg#page_stroke_01"></use>
      </svg>
      <svg>
        <use xlink:href="/svg/ui_shapes.svg#page_stroke_02"></use>
      </svg>
    </form>
  </main>
</Layout>
