---
// Global Styles
import '@Styles/articles_page.css';
// Query
import query from '@Queries/page_blanks';
// Layouts
import Layout from '@Layouts/Layout.astro';
import BlankItem from '@Components/ui-elements/BlankItem.astro';
// Types
import type { IAllBlankPage } from '@Types';

const lang = Astro.currentLocale as 'ru' | 'fi';

import { single, toMarkdown } from '@Lib/prismiccms';
const response = await single(query, 'page_blanks', lang);

const data = response.data as IAllBlankPage;
const md = await toMarkdown(data.sub_title);
---

<Layout>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{data.seo_title}</title>
    <meta name="description" content={data.seo_description} />
    <link rel="canonical" href=`https://sadko.fi/${lang}/blanks` hreflang={lang} />
  </head>

  <main class="grid separator">
    <div class="page-header column-sized">
      <h1 class="header__heading">{data.title}</h1>
      {
        data.sub_title ? (
          <div class="page-header__description markdown font-20">
            <Fragment set:html={md} />
          </div>
        ) : null
      }
    </div>
    <ul class="blanks">
      {data.blank.map(folder => <BlankItem href={folder.href} name={folder.name} />)}
    </ul>
  </main>
</Layout>

<style>
  .blanks {
    grid-column: 2 / -2;
    max-width: 70ch;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: var(--gap-24);
  }

  @media screen and (max-width: 559px) {
    .blanks {
      justify-self: stretch;
    }
  }
</style>
