---
import { locale_main } from '@Locales/main';
// Components
import ActivitySlugBlankBtn from '@Components/activity-slugs/ActivitySlugBlankBtn.astro';
import ActivitySlugCircleBtn from '@Components/activity-slugs/ActivitySlugCircleBtn.astro';
// Helpers
import publishDate from '@Helpers/publishDate';

const lang = Astro.currentLocale as 'ru' | 'fi';

import type { IActivity } from '@Types';
interface Props {
  publish: string;
  data: IActivity;
  blank?: 'camp' | 'club';
}

const { data, publish } = Astro.props;
---

<section class="activity__details">
  <time datetime={publish.split('T')[0]}>
    {locale_main[lang].publish}
    {publishDate(publish, lang)}
  </time>
  <h1 class="activity__title">{data.title}</h1>
  <p class="details__text">
    {locale_main[lang].teacher}
    <strong>{data.teacher}</strong>
  </p>
  <p class="details__text">
    {locale_main[lang].date}
    <strong>{data.date}</strong>
  </p>
  <p class="details__text">
    {locale_main[lang].time}
    <strong>{data.time}</strong>
  </p>
  <p class="details__text">
    {locale_main[lang].age}
    <strong>{data.age}</strong>
  </p>
  <p class="details__text">
    {locale_main[lang].price}
    <strong>{data.price}</strong>
  </p>
  <address class="details__text">
    {locale_main[lang].address}
    <strong>{data.address}</strong>
  </address>
  <p class="details__text">
    {locale_main[lang].phone}
    <strong>{data.phone}</strong>
  </p>
  <p class="details__text">
    {locale_main[lang].email}
    <strong>{data.email}</strong>
  </p>
  <div class="details__btns">
    {data.has_blank ? <ActivitySlugBlankBtn lang={lang} /> : null}
    {data.facebook.url ? <ActivitySlugCircleBtn data={data.facebook} icon="facebook" /> : null}
    {data.instagram.url ? <ActivitySlugCircleBtn data={data.instagram} icon="instagram" /> : null}
  </div>
</section>

<style>
  .activity__details {
    grid-column: 8 / span 6;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--gap-8) var(--gap-36);
    align-self: flex-start;
  }

  .activity__title {
    grid-row: 2;
    padding-bottom: var(--gap-12);
    font-size: clamp(var(--font-32), 3vw, var(--font-36));
    line-height: 1;
  }

  .details__text {
    height: min-content;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: var(--gap-12) var(--gap-18);
    padding-block: var(--gap-4);
    color: var(--grey-300);
    font-size: clamp(var(--font-14), 3vw, var(--font-16));
    font-style: normal;
  }
  .details__text:nth-child(even) {
    background-color: var(--opacity-3);
  }
  .details__text strong {
    color: var(--black);
    font-size: clamp(var(--font-16), 3vw, var(--font-18));
  }

  .details__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: var(--gap-18);
    padding-block: var(--gap-36);
  }

  @media screen and (max-width: 959px) {
    .activity__details {
      gap: var(--gap-16) var(--gap-36);
      grid-column: 2 / -2;
    }
  }

  @media screen and (max-width: 767px) {
    .details__text {
      grid-template-columns: 1fr;
      gap: var(--gap-4) var(--gap-18);
    }

    .details__text strong {
      font-size: var(--font-20);
    }
  }

  @media screen and (max-width: 520px) {
    .details__btns {
      justify-content: center;
      gap: var(--gap-32);
    }
  }
</style>
