---
import { main_locale } from '@Locales/main_locale';
// Components
import ActivitySlugBlankBtn from '@Components/activity-slugs/ActivitySlugBlankBtn.astro';
import ActivitySlugCircleBtn from '@Components/activity-slugs/ActivitySlugCircleBtn.astro';
// Helpers
import publishDate from '@Helpers/publishDate';

const lang = Astro.currentLocale as 'ru' | 'fi';

import type { IActivity } from '@Types';
interface Props {
  publish: string;
  data: IActivity;
}

const { data, publish } = Astro.props;
---

<section class="activity__details">
  <time datetime={publish.split('T')[0]}>
    {main_locale[lang].publish}
    {publishDate(publish, lang)}
  </time>
  <h1 class="activity__title">{data.title}</h1>
  <p class="details__text">
    {main_locale[lang].teacher}
    <strong>{data.teacher}</strong>
  </p>
  <p class="details__text">
    {main_locale[lang].date}
    <strong>{data.date}</strong>
  </p>
  <p class="details__text">
    {main_locale[lang].time}
    <strong>{data.time}</strong>
  </p>
  <p class="details__text">
    {main_locale[lang].age}
    <strong>{data.age}</strong>
  </p>
  <p class="details__text">
    {main_locale[lang].price}
    <strong>{data.price}</strong>
  </p>
  <address class="details__text">
    {main_locale[lang].address}
    <strong>{data.address}</strong>
  </address>
  <p class="details__text">
    {main_locale[lang].phone}
    <strong>{data.phone}</strong>
  </p>
  <p class="details__text">
    {main_locale[lang].email}
    <strong>{data.email}</strong>
  </p>
  <div class="details__btns">
    <ActivitySlugBlankBtn data={data.primary_href} lang={lang} />
    <ActivitySlugCircleBtn data={data.facebook} icon="facebook" />
    <ActivitySlugCircleBtn data={data.instagram} icon="instagram" />
  </div>
</section>

<style>
  .activity__details {
    grid-column: 8 / span 6;
    grid-row: 2;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--gap-16) var(--gap-36);
    align-self: flex-start;
  }

  .activity__title {
    grid-row: 2;
    padding-bottom: var(--gap-12);
    font-size: clamp(var(--font-32), 3vw, var(--font-36));
    color: var(--black);
    line-height: 1;
  }

  .details__text {
    height: min-content;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: var(--gap-12) var(--gap-18);
    color: var(--grey-200);
    font-size: var(--font-18);
    font-style: normal;
    font-weight: bold;
  }
  .details__text strong {
    color: var(--black);
  }

  .details__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: var(--gap-18);
    padding-block: var(--gap-36);
  }

  @media screen and (max-width: 959px) {
    .activity__details {
      gap: var(--gap-24) var(--gap-36);
      grid-column: 2 / -2;
      grid-row: 3;
    }
  }

  @media screen and (max-width: 767px) {
    .details__text {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 520px) {
    .details__btns {
      justify-content: center;
      gap: var(--gap-32);
    }
  }
</style>
