---
import type { HrefType } from '@Types';
interface Props {
  data: HrefType;
  icon: 'instagram' | 'facebook';
}

const { data, icon } = Astro.props;
---

<a href={data.url} target={data.target} class="circle-button" aria-label={icon} title={icon}>
  <span class="icon fill-violet" aria-hidden="true">
    <svg>
      <use xlink:href={`/svg/ui_icons.svg#${icon}`}></use>
    </svg>
  </span>
</a>
