---
import { locale_blank } from '@Locales/blanks';

const lang = Astro.params.locale as 'ru' | 'fi';
---

<fieldset class="form__parent">
  <legend>{locale_blank[lang].parent_legend}</legend>
  <div class="form__input">
    <label class="required" for="parent-name">{locale_blank[lang].parent_name_label}</label>
    <input
      type="text"
      id="parent-name"
      class="form__input-active"
      name="name"
      data-input
      placeholder="Alexander Ivanov"
      pattern="[a-zA-ZäåöÄÅÖ \\-]{2,}"
      title={locale_blank[lang].parent_name_title}
      required
    />
  </div>
  <div class="form__input">
    <label class="required" for="parent-hetu">{locale_blank[lang].parent_hetu_label}</label>
    <input
      type="text"
      id="parent-hetu"
      class="form__input-active"
      name="henkilotunnus"
      data-input
      placeholder="120556-457F"
      pattern="[0-9]{6}[\\-A]{1}[0-9A-Z]{4}"
      title={locale_blank[lang].parent_hetu_title}
      required
    />
  </div>
  <div class="form__input">
    <label class="required" for="parent-address">{locale_blank[lang].parent_address_label}</label>
    <input
      type="text"
      id="parent-address"
      class="form__input-active"
      name="address"
      data-input
      placeholder="Vaasankatu 12 B 45"
      required
    />
  </div>
  <div class="form__input">
    <label class="required" for="parent-postcode">{locale_blank[lang].parent_postcode_label}</label>
    <input
      type="text"
      id="parent-postcode"
      class="form__input-active"
      name="postcode"
      data-input
      placeholder="00120"
      pattern="[0-9]{5}"
      title={locale_blank[lang].parent_postcode_title}
      inputmode="numeric"
      required
    />
  </div>
  <div class="form__input">
    <label class="required" for="parent-city">{locale_blank[lang].parent_city_label}</label>
    <input
      type="text"
      id="parent-city"
      class="form__input-active"
      name="city"
      data-input
      placeholder="Helsinki"
      pattern="[a-zA-ZäåöÄÅÖ]{3,}"
      required
    />
  </div>
  <div class="form__input">
    <label class="required" for="parent-phone">{locale_blank[lang].parent_phone_label}</label>
    <input
      type="tel"
      id="parent-phone"
      class="form__input-active"
      name="phone"
      data-input
      placeholder="+358501234567"
      pattern="[0-9+#]{10,13}"
      title={locale_blank[lang].parent_phone_title}
      required
    />
  </div>
  <div class="form__input">
    <label class="required" for="parent-email">{locale_blank[lang].parent_email_label}</label>
    <input
      type="email"
      id="parent-email"
      class="form__input-active"
      name="email"
      data-input
      placeholder="example@example.com"
      pattern="[a-zA-Z0-9.+_\\-]+@[a-z]{2,}\.[a-z]{2,}"
      title={locale_blank[lang].parent_email_title}
      required
    />
  </div>
  <div class="form__input">
    <label for="parent-info">{locale_blank[lang].parent_textarea_label}</label>
    <textarea id="parent-info" class="form__input-active" name="message" data-input rows="5"></textarea>
  </div>
</fieldset>
