---
import HeroTitle from "@Components/home-page/section-hero/HeroTitle.astro";
import Link from "@Components/ui-elements/Link.astro";
// Type
import type { Hero } from "@Pages/[locale]/index.astro";
interface Props {
  data: Hero;
}

// const collection = await getCollection("home");
// export const prerender = true;

// const props = collection.map((data) => data.data)[0];
const props = Astro.props.data;
---

<section class="grid hero">
  <p class="hero__label">{props.hero_label}</p>
  <HeroTitle text={props.hero_title} />
  <p class="hero__desc">
    {props.hero_description}
  </p>
  <div class="hero__action-btns">
    <Link href={props.hero_primary_btn_url} isPrimary icon="arrow_outward">
      {props.hero_primary_btn_name}
    </Link>
    <Link href={props.hero_secondary_btn_url} icon="location">
      {props.hero_secondary_btn_name}
    </Link>
  </div>
  <img class="hero__boy" src="/webp/boy.webp" alt="boy with skateboard" />
  <img class="hero__girl" src="/webp/girl.webp" alt="girl" />
</section>

<style is:global>
  .hero {
    padding-block-start: var(--gap-72);
    grid-template-rows: auto auto auto 260px;
  }

  .hero__label,
  .hero__title,
  .hero__desc,
  .hero__action-btns {
    grid-column: 2 / -2;
    justify-self: center;
  }

  .hero__label,
  .hero__desc {
    color: var(--grey-300);
    text-align: center;
    line-height: 1.4;
  }

  .hero__label {
    grid-row: 1;
    font-size: var(--font-20);
  }

  .hero__desc {
    grid-row: 3;
    max-width: 660px;
    font-size: clamp(var(--font-18), 2.5vw, var(--font-24));
  }

  .hero__action-btns {
    grid-row: 4;
    height: min-content;
    display: flex;
    gap: var(--gap-40);
    padding-block-start: var(--gap-48);
  }

  .hero__boy,
  .hero__girl {
    justify-self: center;
    grid-row: 1 / span 4;
    display: flex;
  }
  .hero__boy {
    grid-column: 10 / 3 span;
    max-width: 240px;
    align-self: center;
  }
  .hero__girl {
    grid-column: 1 / 3 span;
    align-self: flex-end;
  }

  @media (max-width: 1200px) {
    .hero__boy,
    .hero__girl {
      display: none;
    }
  }
</style>
