---
// Global Styles
import '@Styles/articles_page.css';
// Query
import pageQuery from '@Queries/page_camps';
import articlesQuery from '@Queries/page_camp';
// Types
import type { IPage, IActivity } from '@Types';
// Layouts
import Layout from '@Layouts/Layout.astro';
import Article from '@Components/pages-with-articles/Article.astro';
// Libs
import { single, repeatable } from '@Lib/prismiccms';

const lang = Astro.currentLocale as 'ru' | 'fi';

const response = await single(pageQuery, 'page_camps', lang);
const articles = await repeatable(articlesQuery, 'camp', lang);

const page = response.data as IPage;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{page.seo_title}</title>
  <meta name="description" content={page.seo_description} />
</head>

<Layout>
  <main class="grid separator">
    <div class="page__header">
      <h1>{page.title}</h1>
      {page.description && <p>{page.description}</p>}
    </div>
    {
      articles.map(i => {
        const data = i.data as IActivity;
        return <Article article={data} date={i.last_publication_date} />;
      })
    }
  </main>
</Layout>
