---
import TeacherArticleLink from './TeacherArticleLink.astro';
// Helpers
import { toMarkdown } from '@Lib/prismiccms';
// Locale
import { main_locale } from '@Locales/main_locale';
// Types
import type { ITeacher } from '@Types';

interface Props {
  data: ITeacher;
}

const lang = Astro.currentLocale as 'ru' | 'fi';

const { color, image, name, text, links, slug } = Astro.props.data;
const md = await toMarkdown(text);
---

<script>
  const teachers = document.querySelectorAll<HTMLElement>('.teacher');

  function openSubMenu(event: Event) {
    const btn = event.target as HTMLButtonElement;
    const teacher = btn.closest('.teacher')!;
    teacher.classList.toggle('show-all');

    const timer = setTimeout(() => {
      teacher.scrollIntoView({
        behavior: 'smooth',
      });
      clearTimeout(timer);
    }, 0);
  }

  teachers.forEach(teacher => {
    const txt = teacher.querySelector<HTMLElement>('.teacher__text')!.scrollHeight;
    const btn = teacher.querySelector<HTMLButtonElement>('.teacher__btn')!;
    if (txt <= 9 * 16 + 16) {
      btn.remove();
      return;
    }

    btn.addEventListener('mousedown', openSubMenu);
  });
</script>

<article class="teacher" id={slug.url}>
  <img
    class="teacher__image"
    src={image.url}
    alt={image.alt}
    height={image.dimensions.height}
    width={image.dimensions.width}
  />
  <h2 class="teacher__name">{name}</h2>
  <h3 class="teacher__label">{main_locale[lang].teacher_label}</h3>
  <div class="teacher__links" role="list">
    {links.map(link => <TeacherArticleLink link={link.link} color={color} link_name={link.link_name} />)}
  </div>
  <div class="markdown teacher__text">
    <Fragment set:html={md} />
  </div>
  <button class="btn btn-secondary arrow-icon teacher__btn">
    <p class="btn__more">{main_locale[lang].button_more}</p>
    <p class="btn__hide">{main_locale[lang].button_hide}</p>
    <span class="btn__icon" aria-hidden="true">
      <svg>
        <use xlink:href="/svg/ui_icons.svg#arrow_backward" data-xlink="arrow_backward"></use>
      </svg>
    </span>
  </button>
</article>

<style>
  .teacher {
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-12);
    border-radius: var(--border-corner-32);
    padding: var(--gap-32);
    background-color: var(--white);
    box-shadow:
      0 25px 20px var(--opacity-3),
      0 15px 10px var(--opacity-3);
  }

  .section:nth-of-type(odd) .teacher {
    grid-column: 6 / -4;
  }
  .section:nth-of-type(even) .teacher {
    grid-column: 4 / -6;
  }

  .teacher__image {
    flex-basis: 150px;
    border-radius: 100vw;
    object-fit: cover;
    object-position: center;
  }

  .teacher__name {
    width: min-content;
    flex-shrink: 1;
    align-self: center;
    color: var(--black);
    font-size: clamp(var(--font-24), 4vw, var(--font-36));
    line-height: 1.2;
  }

  .teacher__links {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    flex-wrap: wrap;
    gap: var(--gap-8);
    align-items: flex-start;
  }
  .teacher__label {
    flex-basis: 100%;
    flex-grow: 1;
    color: var(--black);
    font-size: clamp(var(--font-16), 2.5vw, var(--font-18));
  }

  .teacher__text {
    max-height: 9rem;
    padding-block-start: var(--gap-8);
    overflow: hidden;
    position: relative;
  }
  .teacher__text::after {
    content: '';
    position: absolute;
    inset: 50% 0 0;
    background-image: linear-gradient(to top, var(--white) 10%, transparent);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  .teacher.show-all .teacher__text {
    max-height: 100%;
  }
  .teacher.show-all .teacher__text::after {
    background-image: linear-gradient(to top, transparent 10%, transparent);
  }
  .teacher:not(:has(button)) .teacher__text {
    max-height: 100%;
  }
  .teacher:not(:has(button)) .teacher__text::after {
    background-image: none;
  }

  .teacher__btn {
    margin-inline: auto;
  }
  .teacher__btn span {
    rotate: z -90deg;
  }
  .teacher.show-all .teacher__btn span {
    rotate: z 90deg;
  }
  .teacher.show-all .btn__more,
  .teacher .btn__hide {
    display: none;
  }
  .teacher.show-all .btn__hide {
    display: block;
  }

  @media (max-width: 520px) {
    .teacher {
      padding: var(--gap-24) var(--gap-24) var(--gap-36);
    }
    .teacher__image {
      height: 96px;
      flex-basis: 96px;
    }
  }
</style>
