---
import SocLink from './SocLink.astro';

import type { ICommonData } from '@Types';
interface Props {
  data: Omit<ICommonData, 'notification'>;
}

const { data } = Astro.props;
const phone = data.phone.replace(/(\d{3})(\d{8})/, '($1) $2');
---

<address class="footer__contact">
  <p>{phone}</p>
  <p>{data.email}</p>
  <p>{data.address}</p>
  <ul class="footer__links">
    {data.facebook.url ? <SocLink link={data.facebook} icon="facebook" /> : null}
    {data.instagram.url ? <SocLink link={data.instagram} icon="instagram" /> : null}
    {data.telegram.url ? <SocLink link={data.telegram} icon="telegram" /> : null}
    {data.whatsapp.url ? <SocLink link={data.whatsapp} icon="whatsapp" /> : null}
  </ul>
</address>

<style>
  .footer__contact {
    grid-column: 3;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-8);
    position: relative;
    z-index: 5;
  }

  .footer__contact > * {
    flex-basis: 100%;
    color: var(--black);
    font-style: normal;
  }
  .footer__contact p:nth-of-type(1) {
    font-size: clamp(var(--font-28), 3.3vw, var(--font-40));
  }
  .footer__contact p:nth-of-type(2) {
    font-size: clamp(var(--font-20), 2vw, var(--font-24));
  }
  .footer__contact p:not(:last-of-type) {
    font-weight: bold;
    white-space: nowrap;
  }

  .footer__links {
    display: flex;
    gap: var(--gap-12);
    padding-block-start: var(--gap-8);
  }

  @media (max-width: 959px) {
    .footer__contact {
      grid-column: 1;
    }
  }
</style>
