---
// Routes
import { headerLinks } from 'src/routes/routes';

const lang = Astro.currentLocale as 'ru' | 'fi';
const extraLocale = {
  ru: {
    important: 'Важное',
  },
  fi: {
    important: 'Tärkeä',
  },
};

const { about, activities, signup, schedule, articles } = headerLinks[lang];
---

<section class="footer__navigation">
  {
    activities.submenu.map(submenu => (
      <ul class="footer__column">
        <li class="footer__column-item">
          <p class="footer__column-title">{submenu.columnName}</p>
        </li>
        {submenu.columns.map(i => (
          <li class="footer__column-item">
            <a href={`${lang}/${i.slug}`}>{i.hrefName[lang]}</a>
          </li>
        ))}
      </ul>
    ))
  }
  {
    (
      <ul class="footer__column">
        <li class="footer__column-item">
          <p class="footer__column-title">{extraLocale[lang].important}</p>
        </li>
        <li class="footer__column-item">
          <a href={`${lang}/${signup.submenu[1].columns[0].slug}`}>{signup.submenu[1].columns[0].hrefName[lang]}</a>
        </li>
        <li class="footer__column-item">
          <a href={`/${lang}/articles`}>{articles}</a>
        </li>
        <li class="footer__column-item">
          <a href={`/${lang}/schedule`}>{schedule}</a>
        </li>
      </ul>
    )
  }
  {
    (
      <ul class="footer__column">
        <li class="footer__column-item">
          <p class="footer__column-title">{about.submenu[0].columnName}</p>
        </li>
        {about.submenu[0].columns.map(i => (
          <li class="footer__column-item">
            <a href={`${lang}/${i.slug}`}>{i.hrefName[lang]}</a>
          </li>
        ))}
        <li class="footer__column-item">
          <a href={`${lang}/${about.submenu[1].columns[0].slug}`}>{about.submenu[1].columns[0].hrefName[lang]}</a>
        </li>
      </ul>
    )
  }
</section>

<style>
  .footer__navigation {
    grid-column: 2 / span 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap-32);
  }

  .footer__column {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
  }

  .footer__column-item {
    white-space: nowrap;
  }

  .footer__column-title {
    padding-block-end: var(--gap-12);
    font-weight: bold;
    font-size: clamp(var(--font-20), 3.5vw, var(--font-24));
  }

  @media (max-width: 959px) {
    .footer__navigation {
      grid-column: 1;
      justify-content: space-around;
    }
  }
</style>
