---
import H2Title from '@Components/ui-elements/H2Title.astro';
import H2Description from '@Components/ui-elements/H2Description.astro';
import Carousel from '@Components/ui-elements/Carousel.astro';
import Activity from './Activity.astro';

import type { HomeBodyActivities } from '@Types';
interface Props {
  data: HomeBodyActivities;
}

const { primary, items } = Astro.props.data;
---

<section class="grid main-section">
  <H2Title>{primary.heading}</H2Title>
  <H2Description>{primary.text}</H2Description>
  <Carousel>
    {
      items.map((i, index) => {
        return <Activity heading={i.heading} text={i.text} icon={i.icon} index={index} slug={i.slug} />;
      })
    }
  </Carousel>
</section>
