---
// Global Styles
import '@Styles/articles_page.css';
// Query
import pageQuery, { repeatableQuery } from '@Queries/page_clubs';
// Types
import type { IActivity, IPage } from '@Types';
// Layouts
import Layout from '@Layouts/Layout.astro';
import Head from '@Layouts/Head.astro';
import Article from '@Components/pages-with-articles/Article.astro';
import PageEmpty from '@Components/page-empty/PageEmpty.astro';
// Libs
import { single, repeatable, toMarkdown } from '@Lib/prismiccms';

const lang = Astro.currentLocale as 'ru' | 'fi';

const response = await single(pageQuery, 'page_clubs', lang);
const articles = await repeatable(repeatableQuery, 'club', lang);

const data = response.data as IPage;
const md = await toMarkdown(data.sub_title);
---

<Head title={data.seo_title} description={data.seo_description} href="/clubs" />

<Layout>
  <main class="grid separator">
    <div class="page-header">
      <h1 class="header__heading">{data.title}</h1>
      {
        data.sub_title ? (
          <div class="page-header__description markdown font-20">
            <Fragment set:html={md} />
          </div>
        ) : null
      }
    </div>
    {
      articles.length >= 1 ? (
        articles.map(i => {
          const data = i.data as IActivity;
          return <Article article={data} date={i.last_publication_date} />;
        })
      ) : (
        <PageEmpty />
      )
    }
  </main>
</Layout>
