---
import type { ISubMenu } from "@Types";

interface Props {
  link: ISubMenu;
}
// Get language from Astro Runtime API
const lang = Astro.currentLocale as "ru" | "fi";

const { icon, hrefDesc, hrefName, iconBorder, slug } = Astro.props.link;
---

<a
  href=`/${lang}/${slug}`
  class="subnav__link"
  data-astro-reload
  role="menuitem"
>
  <div class="subnav__link-content" aria-hidden="true">
    <svg class="icon">
      <use xlink:href=`/svg/ui_icons.svg#${icon}`></use>
    </svg>
    <svg class=`${iconBorder}`>
      <use xlink:href=`/svg/ui_icons.svg#${iconBorder}`></use>
    </svg>
  </div>
  <h4>{hrefName[lang]}</h4>
  <p>{hrefDesc[lang]}</p>
</a>

<style>
  .subnav__link {
    display: grid;
    max-width: 300px;
    grid-template-columns: var(--size-48) 1fr;
    grid-template-rows: 2fr;
    align-items: flex-start;
    gap: var(--gap-4) var(--gap-8);
    padding: var(--gap-12);
    border-radius: var(--border-corner-12);
    transition: all 0.3s ease-in-out;
  }
  .subnav__link:hover,
  .subnav__link:focus-visible {
    background-color: var(--opacity-8);
  }

  .subnav__link-content {
    grid-column: 1;
    grid-row: 1 / 2 span;
    display: grid;
  }
  .subnav__link-content:has(.list) .icon {
    justify-self: flex-end;
    align-self: flex-end;
  }

  h4,
  p {
    grid-column: 2;
  }
  h4 {
    grid-row: 1;
    align-self: flex-end;
    font-size: var(--font-16);
  }
  p {
    grid-row: 2;
    color: var(--grey-300);
    font-size: var(--font-14);
    line-height: 1.4;
  }

  .icon,
  .cookie,
  .list {
    grid-column: 1;
    grid-row: 1 / 2 span;
    aspect-ratio: 1;
    justify-self: center;
    align-self: center;
  }
  .icon {
    width: var(--size-24);
    fill: var(--black);
  }
  .cookie {
    width: var(--size-48);
    stroke: var(--black);
  }
</style>
