---
// Global Styles
import '@Styles/articles_page.css';
// Query
import pageQuery, { repeatableQuery } from '@Queries/page_articles';
// Layouts
import Layout from '@Layouts/Layout.astro';
import Article from '@Components/pages-with-articles/Article.astro';
import PageEmpty from '@Components/page-empty/PageEmpty.astro';
// Libs
import { single, repeatable } from '@Lib/prismiccms';
// Types
import type { IArticle, IPage } from '@Types';

const lang = Astro.currentLocale as 'ru' | 'fi';

const pesponse = await single(pageQuery, 'page_articles', lang);
const articles = await repeatable(repeatableQuery, 'article', lang);

// LOCAL DATA!!!
// Remove CACHE folder to get updated data!!!
// import { SingleWithLinkLocaleData } from '@Lib/localdata';
// const response = await SingleWithLinkLocaleData(query, 'page_articles', 'articles', lang);
// Define Type IPageForArticles
const data = pesponse.data as IPage;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{data.seo_title}</title>
  <meta name="description" content={data.seo_description} />
</head>

<Layout>
  <main class="grid separator">
    <div class="page-header">
      <h1 class="header__heading">{data.title}</h1>
      {data.description && <p class="page-header__description font-20">{data.description}</p>}
    </div>
    {
      articles.length >= 1 ? (
        articles.map(i => {
          const data = i.data as IArticle;
          return <Article article={data} date={i.last_publication_date} />;
        })
      ) : (
        <PageEmpty />
      )
    }
  </main>
</Layout>
