---
// Global Styles
import '@Styles/articles_page.css';
// Query
import query from '@Queries/page_rules-and-payments';
// Layouts
import Layout from '@Layouts/Layout.astro';
import Head from '@Layouts/Head.astro';
import RuleItem from '@Components/ui-elements/RuleItem.astro';
// Libs
import { single, toMarkdown } from '@Lib/prismiccms';
// Types
import type { IRulesAndPaymentsPage } from '@Types';

const lang = Astro.currentLocale as 'ru' | 'fi';

const response = await single(query, 'page_rules-and-payments', lang);

const data = response.data as IRulesAndPaymentsPage;
const md = await toMarkdown(data.sub_title);
---

<Head title={data.seo_title} description={data.seo_description} href="/rules-and-payments/" />

<Layout>
  <main class="grid separator">
    <div class="page-header column-sized">
      <h1 class="header__heading">{data.title}</h1>
      {
        data.sub_title ? (
          <div class="page-header__description markdown font-20">
            <Fragment set:html={md} />
          </div>
        ) : null
      }
    </div>
    <ul class="rules">
      {data.rules.map(folder => <RuleItem href={folder.href} name={folder.name} />)}
    </ul>
  </main>
</Layout>

<style>
  .rules {
    grid-column: 2 / -2;
    max-width: 70ch;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: var(--gap-24);
  }
  @media screen and (max-width: 559px) {
    .rules {
      justify-self: stretch;
    }
  }
</style>
