---
import H2Title from "@Components/ui-elements/H2Title.astro";
import H2Description from "@Components/ui-elements/H2Description.astro";
import Carousel from "@Components/ui-elements/Carousel.astro";
import Teacher from "./Teacher.astro";

import type { HomeBodyTeachers } from "@Types";
interface Props {
  data: HomeBodyTeachers;
}

const { primary, items } = Astro.props.data;
---

<section class="grid main-section">
  <H2Title>{primary.heading}</H2Title>
  <H2Description>{primary.text}</H2Description>
  <Carousel>
    {
      items.map((i) => {
        return (
          <Teacher
            heading={i.heading}
            text={i.text}
            image={i.image}
            slug={i.slug}
          />
        );
      })
    }
  </Carousel>
</section>
