---
import ContactButton from './ContactButton.astro';
// Locale
import { main_locale } from '@Locales/main_locale';
// Types
import type { ICommonData } from '@Types';
interface Props {
  data: Omit<ICommonData, 'notification' | 'address' | 'description'>;
}

const lang = Astro.currentLocale as 'ru' | 'fi';

const { data } = Astro.props;
---

<script>
  const btn = document.querySelector('.contact__btn-action');
  const contact = document.querySelector('.contact');
  function openSubMenu() {
    contact?.classList.toggle('show-btns');
  }
  btn?.addEventListener('click', openSubMenu);
</script>

<section class="contact">
  <button type="button" class="contact__btn-action">
    <p>{main_locale[lang].contact_button_show}</p>
    <p>{main_locale[lang].contact_button_hide}</p>
  </button>
  <div class="contact__btns">
    {data.phone ? <ContactButton link={data.phone} icon="phone" prefix="tel" /> : null}
    {data.email ? <ContactButton link={data.email} icon="email" prefix="mailto" /> : null}
    {data.whatsapp.url ? <ContactButton link={data.whatsapp} icon="whatsapp" /> : null}
    {data.telegram.url ? <ContactButton link={data.telegram} icon="telegram" /> : null}
  </div>
</section>

<style>
  .contact {
    position: fixed;
    inset-inline: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-16);
    padding-block-end: var(--gap-16);
    padding-block: var(--gap-56) var(--gap-36);
    background-color: var(--white);
    border-radius: var(--border-corner-32) var(--border-corner-32) 0 0;
    /* border-inline: 2px solid var(--violet); */
    border-block-start: 2px solid var(--violet);
    translate: 0 calc(var(--size-56) + var(--gap-96));
    transition: all 0.3s cubic-bezier(0, 0.79, 0.55, 1.02);
    z-index: 50;
  }

  .contact__btn-action {
    width: max(200px, 75vw);
    height: var(--size-56);
    /* flex: 1 0 80%; */
    position: absolute;
    top: -2.5rem;
    background-color: #8464f6;
    border-radius: var(--border-corner-32) var(--border-corner-32) 0 0;
    border-radius: var(--border-corner-32);
    transition: all 0.2s ease-in-out;
    box-shadow:
      0 25px 20px var(--opacity-5),
      0 15px 10px var(--opacity-5);
  }
  .contact__btn-action:active {
    background-color: #a28af9;
  }

  .contact__btn-action p {
    color: var(--white);
    text-align: center;
    font-size: var(--font-16);
  }

  .contact.show-btns {
    translate: 0 0;
  }
  .contact.show-btns .contact__btn-action {
    translate: 0 0.5rem;
  }
  .contact.show-btns p:first-of-type {
    display: none;
  }
  .contact.show-btns p:last-of-type {
    display: initial;
  }
  .contact p:last-of-type {
    display: none;
  }

  .contact__btns {
    display: flex;
    justify-content: center;
    gap: var(--gap-16);
  }

  @media screen and (min-width: 560px) {
    .contact {
      display: none;
    }
  }
</style>
